/**
 * Image Select Styles
 *
 * @author     Web Semantics, Inc. Dev Team <info@websemantics.ca>
 * @copyright  2011-2015 Web Semantics, Inc.
 * @link       http://websemantics.ca
 * @license    https://opensource.org/licenses/MIT
 */

/* Tag image */
.chose-image {
	width:55px;
	max-height:55px;
	padding: 2px 5px 3px 0px;
	vertical-align:middle;
}

.chose-image.rtl {
	padding: 2px 0px 3px 5px;
}

/* Image for Single mode */
.chose-image-small {
	/*width:18px;*/
	max-height:50px;
	vertical-align: middle;
	margin: -3px 0 0 0;
	padding: 0 3px 0 0;
}

.chose-image-small.rtl {
	padding: 0 0 0 3px;
}

/* Images appended to the li(s) */
.chose-image-list {
	/*width:18px;*/
	max-height:50px;
	vertical-align: middle;
	margin: -3px 0 0 0;
	padding: 0 3px 0 0;
}

.chose-image-list.rtl {
	padding: 0 0 0 3px;
}

/* Grey-out image for Multi mode */
.chosen-container-multi .result-selected img {
	opacity: 0.3;
}
