
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Other
@import "animate.min.css";

body{
	overflow-x: hidden;
	margin-top: 125px;

	@media screen and (max-width: 768px){
		margin-top: 50px;
	}
}

a{
	color: $btn-bg-color;
	text-decoration: none;

	&:hover{
		color: lighten($btn-bg-color,20%);
		text-decoration: none;
	}
}

#mainContent{
	margin-top: 25px;
	margin-bottom: 25px;

	&.home{
		margin-top: 0;
		margin-bottom: 0;
	}
}

// .custom-navbar-header{
// 	color: $btn-bg-color !important;
// 	font-weight: bold !important;
// }

.navbar{
	border-radius: none;
	font-weight: 400;
	margin-bottom: 0;
	box-shadow: 0 0 10px rgba(0,0,0,.32);
	transition: .1s all;
	text-transform: uppercase;

	@media screen and (min-width: 768px){
		&.scroll{
			min-height: 75px !important;

			.container-fluid{
				margin-top: 12px !important;

				.navbar-header{
					img{
						max-height: 60px !important;
						top: -20px !important;
					}

					.navbar-brand{
						span.text{
							font-size: 16px !important;
						}
					}

				}
			}
		}
	}

	.container-fluid{
		transition: .1s all;
	}

	.navbar-right{
		margin-right: 5%;
	}

	.navbar-nav > li > a{
		color: $navbar-default-text;
		font-size: 14px;
		text-transform: uppercase;

		&:hover{
			color: $btn-bg-color;
		}
	}

	.hover-line{
		display: inline-block;
		position: relative;

		@media screen and (max-width: 768px){
			display: inherit;
		}
	}

	.hover-line:after {
		content: '';
		display: block;
		margin: auto;
		height: 1px;
		width: 0px;
		background: transparent;
		transition: width .4s ease, background-color .4s ease;
	}

	.hover-line:hover:after{
		width: 100%;
		background: $btn-bg-color;
	}

	// .navbar-nav li > a.hover-line.active:after{
	// 	width: 100%;
	// 	background: lighten($navbar-default-text,10%);
	// }

	.navbar-nav li > a.hover-line.active{
		color: $btn-bg-color;
	}


	@media screen and (min-width: 768px){
		min-height: 125px;
	}

	.container-fluid{
		@media screen and (min-width: 768px){
			margin-top: 35px;
		}
	}

	.navbar-header{
		position: relative;
		margin-left: 15px;

		@media screen and (max-width: 768px){
			margin-left: 0;
		}

		.navbar-brand{
			img{
				width: auto;
				max-height: 100px;
				float: left;
				position: relative;
				top: -40px;
				margin-right: 15px;
				transition: .1s all;

				@media screen and (max-width: 768px){
					max-height: 40px;
					top: -10px;
				}
			}

			span.text{
				float: left;
				position: relative;
				color: $btn-bg-color;
				font-weight: bold;
				font-size: 24px;
			}
		}
	}

}

footer.main-footer{
	background-color: $footer-default-bg;
	border: 1px solid $footer-default-border;
	padding-top: 20px;

	@media screen and (max-width: 768px){
		text-align: center;
	}

	.footer-top{
		min-height: 150px;
		padding-bottom: 20px;
		color: $footer-text-color;

		h4{
			font-weight: bold;
			color: $footer-header-color;
		}

		.navigation, .contact{
			ul{
				list-style: none;
				margin-left: -40px;

				& >li > a{
					color: $footer-text-color;
					text-decoration: none;
					text-transform: uppercase;

					&:hover{
						color: $btn-bg-color;
					}
				}
			}
		}

		.contact ul > li > a{
			color: $footer-text-color;
			text-transform: lowercase;

			&:hover{
				color: lighten($footer-text-color,10%);
			}
		}

		.social-media{
			text-align: center;

			h4{
				margin-bottom: -5px;
			}

			a{
				color: $navbar-default-text;
				text-decoration: none;
				transition: .25s color;
				font-size: 50px;

				&.facebook:hover{
					color: #3b5998;
				}

				&.instagram:hover{
					color: #8a3ab9;
				}

				&.twitter:hover{
					color: #00aced;
				}

				&.pinterest:hover{
					color: #bd081c;
				}

				&.path:hover{
					color: #ee3423;
				}

				&.googleplus:hover{
					color: #dd4b39;
				}

				&.linkedin:hover{
					color: #0077b5;
				}

				&.snapchat:hover{
					color: #fffc00;
				}
			}

			.socmed-bottom{
				margin-top: -25px;
			}
		}
	}

	.footer-bottom{
		background-color: darken($footer-default-bg,10%);
		border-top: 1px solid $footer-default-border;
		padding-top: 5px;
		padding-bottom: 5px;

		.bottom-left{
			text-align: left;

			@media screen and (max-width: 768px){
				text-align: center;
			}
		}

		.bottom-right{
			text-align: right;

			@media screen and (max-width: 768px){
				text-align: center;
			}

			a{
				color: $text-color;
				text-decoration: none;

				&:hover{
					color: lighten($text-color,10%);
				}
			}
		}
	}
}

.carousel-fade {
	.carousel-inner {

			.item {
					transition-property: opacity;
			}

			.item,
			.active.left,
			.active.right {
					opacity: 0;
			}

			.active,
			.next.left,
			.prev.right {
					opacity: 1;
			}

			.next,
			.prev,
			.active.left,
			.active.right {
					left: 0;
					transform: translate3d(0, 0, 0);
			}
	}

	.carousel-control {
			z-index: 2;
	}
}

.carousel{
	margin-left: -15px;
	margin-right: -15px;
	position: relative;

	.carousel-indicators{
		bottom: 4.5%;

		& > li, &.active{
			width: 18px;
			height: 18px;
			margin: 0;
		}
	}

	.content-img{
		background-size: cover;
		background-position: center;
		min-height: 575px;

		@media screen and (max-width: 1366px){
			min-height: 450px;
		}
	}

	.carousel-text{
		position: absolute;
		right: 5%;
		font-size: 48px;
		margin-top: 50px;
		color: #fff;
		text-transform: uppercase;
		text-shadow: 0px 2px 4px rgba(0,0,0,.87);
		width: 100%;
		text-align: right;
		z-index: 1;

		@media screen and (max-width: 768px){
			font-size: 24px;
			margin-top: 15px;
			text-align: center;
			right: auto;
		}
	}

	.carousel-control .fa-chevron-left, .carousel-control .fa-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    z-index: 5;
    display: inline-block;
	}

	.carousel-control .fa-chevron-left, .carousel-control .icon-prev {
    left: 50%;
    margin-left: -10px;
	}

	.carousel-control .fa-chevron-right, .carousel-control .icon-next {
    right: 50%;
    margin-right: -10px;
	}

	.slideDown{
		position: absolute;
		bottom: -5%;
		width: 100%;
		left: 0;

		@media screen and (max-width: 360px){
			bottom: -25%;
		}

		& > button{
			font-size: 25px;
			position: relative;
			border-radius: 50%;
			box-shadow: 1px 2px 4px rgba(0,0,0,.48);
			background-color: $btn-bg-color;
			color: $btn-default-color;
			transition: background-color .25s, top .25s, box-shadow .25s;
			top: 0;

			@media screen and (max-width: 360px){
				font-size: 20px;
				padding: 4px 10px;
			}

			&:hover{
				box-shadow: 1px 5px 8px rgba(0,0,0,.48);
				background-color: lighten($btn-bg-color, 10%);
				top: -2px;
			}
		}
	}
}

.btn-default, button.navbar-toggle{
	background-color: $btn-bg-color;
	color: $btn-default-color;
	border: none;
	transition: background-color .25s;

	& .icon-bar{
		background-color: $btn-default-color !important;
	}

	&:hover{
		background-color: lighten($btn-bg-color, 10%);
	}
}

.divider{
	padding: 60px 15px;
	margin-left: -15px;
	margin-right: -15px;
	background-color: $navbar-default-bg;
	box-shadow: 0 0 10px rgba(0,0,0,.32);

	@media screen and (max-width: 768px){
		padding: 40px 10px;
	}

	p{
		margin-bottom: 0;
		text-transform: uppercase;
		font-size: 18px;
		font-weight: bold;
		display: inline-block;
	}

	a.btn{
		margin-top: -5px;
		margin-left: 10px;
		font-size: 20px;

		@media screen and (max-width: 768px){
			margin-top: 0;
			margin-left: 0;
		}
	}
}

.home-content{
	margin-top: 30px;
	margin-bottom: 30px;

	@media screen and (max-width: 768px){
		margin-top: 25px;
		margin-bottom: 25px;
	}

	h2{
		font-size: 36px;

		@media screen and (max-width: 768px){
			font-size: 28px;
		}
	}

	p{
		font-size: 20px;
		text-align: justify;

		@media screen and (max-width: 768px){
			font-size: 16px;
		}
	}

	.card{
		min-height: 200px;
		box-shadow: 0 2px 5px rgba(0,0,0,.32);
		margin-bottom: 15px;
		transition: .25s all;

		@media screen and (min-width: 768px){
			&:hover{
				margin-top: -5px;
				box-shadow: 0 8px 12px rgba(0,0,0,.32);
			}
		}

		img{
			width: 100%;
		}

		.card-content{
			padding: 15px;
			padding-top: 5px;

			h3{
				font-size: 24px;
			}

			p{
				font-size: 16px;
				text-align: justify;
			}
		}
	}
}

.banner-img{
	position: relative;
	overflow: hidden;
	height: 550px;
	margin-left: -15px;
	margin-right: -15px;

	img{
		height: auto;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	@media screen and (max-width: 768px){
		min-height: 480px;
	}

	.banner-content{
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,.32);
		padding: 25px;

		@media screen and (max-width: 768px){
			padding: 15px;
		}

		.content-text{
			color: #fff;
			padding-top: 5%;
			padding-left: 10%;
			text-shadow: 0px 2px 4px rgba(0,0,0,.87);

			a{
				text-shadow: none;
				font-size: 20px;
				box-shadow: 0px 2px 2px rgba(0,0,0,.53);
			}

			&.right{
				padding-right: 10%;
				padding-left: 0;
				text-align: right;
			}

			@media screen and (max-width: 768px){
				padding-left: 0;
			}

			h2{
				font-size: 48px;

				@media screen and (max-width: 768px){
					font-size: 36px;
				}
			}

			p{
				font-size: 24px;

				@media screen and (max-width: 768px){
					font-size: 18px;
				}
			}
		}
	}
}

header .banner-section{
	position: relative;
	overflow: hidden;
	height: 320px;
	margin-left: -15px;
	margin-right: -15px;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #000;

	img{
		height: auto;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		opacity: .68;
	}

	.banner-section-content{
		color: #fff;
		position: relative;
		width: 100%;

		@media screen and (max-width: 768px){
			padding: 15px;
		}

		h1{
			font-size: 48px;
			text-shadow: 0px 2px 4px rgba(0,0,0,.87);
		}
	}
}

.section-content{
	.content-box{
		min-height: 500px;
		display: flex;
		flex-direction: column;
		justify-content: center;

		@media screen and (max-width: 768px){
			min-height: 100px;
		}

		&.left{
			border-right: 1px solid $text-color;

			@media screen and (max-width: 768px){
				border-right: none;
			}
		}

		&.content-image{
			padding: 25px;

			img{
				margin: 0 auto;
			}
		}

		&.content-text{
			padding-left: 75px;
			padding-right: 75px;
			font-size: 18px;

			h2{
				font-size: 36px;
			}

			@media screen and (max-width: 768px){
				padding: 15px;
			}
		}

		&.contact-info{
			padding: 25px;
			padding-left: 125px;

			@media screen and (max-width: 768px){
				padding: 15px;
			}

			.contact-logo{
				margin: 0 auto;
			}

			.contact-detail{

				@media screen and (max-width: 768px){
					text-align: center;
				}

				p{
					font-size: 16px;
					margin-bottom: 0;
				}

				a{
					color: $text-color;
					text-decoration: none;
					font-size: 16px;

					&:hover{
						color: lighten($text-color,10%);
					}
				}
			}

			#contactForm{
				margin-top: 25px;

				label{
					font-size: 16px;
				}
			}
		}

		&.map-container{
			min-height: 250px;

			#map{
				padding: 20px;

				@media screen and (max-width: 768px){
					padding: 0px;
				}
			}
		}
	}
}

// Image zoom on hover
.img-container{
	position: relative;
	overflow: hidden;

	img{
		height: auto;
		transition-duration: 0.2s;
    transform: scale(1) rotateZ(0Deg);
	}

	&:hover{
		img{
			transform: scale(1.2) rotateZ(10Deg);
		}
	}
}
