// Variables
@import "backend_variables";
@import "variables";

.login, .register{
	margin-top: 10%;
}

.image-with-preview img{
	max-height: 300px;
	margin: 0 auto;
	border-bottom: 5px solid transparent;
}

.upload-rules{
	color: $brand_danger;
}

.unread{
	font-weight: bold;
	background-color: lighten($brand-primary, 40%) !important;
}

.modal-message{
	font-weight: normal;
}

.banner-img{
	position: relative;
	overflow: hidden;
	height: 75px;
	margin-left: 6px;
	margin-right: 6px;

	img{
		height: auto;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.banner-content{
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,.52);
		display: flex;
		flex-direction: column;
		justify-content: center;

		.content-text{
			color: #fff;
			width: 100%;
			display: block;
			text-align: center;

			h2{
				font-size: 24px;
				font-weight: bold;
				margin: 0;
			}
		}
	}
}

#btnExample{
	box-shadow: 0px 5px 15px rgba(0,0,0, .54);
	border: none;
}

#panelColor {
		display: block;
		border: solid 1px #000;
		min-height: 70px;
		min-width: auto;
		margin-left: 6px;
		margin-right: 6px;
    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(red, yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(red, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(red, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(red, yellow); /* Standard syntax */
}

.fontExample{
	font-size: 20px;
}
